.logo {
    width: 3rem;
    height: auto;
}

.blue {
    background-color: rgb(128, 173, 231);
}

.icons {
    width: 2rem;
    height: auto;
}

.logo-grey {
    width: 6rem;
    height: auto;
}

.icons-little {
    width: 1.2rem;
}

.bg-grey {
    background-color: rgb(211, 207, 207);
}